<section class="page-content">
  <h1>Technical Projects</h1>
  <h2>CyberHawk: SOC Automation Toolkit</h2>
  <ul>
    <li>Developed an open-source IAM automation toolkit for real-time identity monitoring and security enforcement.</li>
    <li>Deployed Wazuh agent for log collection, automating identity analytics across AWS & Windows.</li>
    <li>Implemented custom security policies, reducing manual access reviews by 50%.</li>
  </ul>
  <h2>Threat Detection & Response Home Lab</h2>
  <ul>
    <li>Crafted simulated attack environments using Metasploit, boosting Splunk detection rates by 40%.</li>
    <li>Fortified AWS workloads by applying WAF and TLS protocols, mitigating attack vectors by 30%.</li>
    <li>Designed and launched a CTF platform engaging 100+ users in OSINT and forensic challenges.</li>
    <li>Deployed Azure Sentinel configurations, curbing security breaches by 25%.</li>
    <li>Executed network-wide vulnerability scans, remediating 20+ critical weaknesses.</li>
  </ul>
</section>